@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --color1: hsl(217, 12%, 63%);/*Light Grey*/
    --color2: hsl(216, 12%, 54%);/*Medium Grey*/
    --color3: hsl(213, 19%, 18%);/*Dark Blue*/
    --color4: hsl(216, 12%, 8%); /*Very Dark Blue*/
    --color5: rgba(255, 255, 255, 0.050);/*Transparent White*/
    --color6: hsl(25, 97%, 53%);/*Orange*/
}
body, html{
    width: 100%;
    height: 100%;
    background-color: var(--color4);
    
    font-family: 'Kalnia', serif;
    color: white;
}
p{
    font-size: 14px;
}
div.firsttext{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
div.topstar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color5);

    display: flex;
    justify-content: center;
    align-items: center;
}
section.ratingpage{
    width: 375px;
    border-radius: 20px;
    background-color: var(--color3);

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div.ratingbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
button{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;

    background-color: var(--color5);
    color: white;
}
button:hover{
    background-color: var(--color6);
}
input{
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 20px;

    background-color: var(--color6);
    color: white;
    font-family: 'Kalnia', serif;
}
input:hover{
    background-color:white;
    color: var(--color6);
}





section.thankyoupage{
    width: 375px;
    background-color: hsl(213, 19%, 18%);

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.attribution{
    display: none;
}
/*.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }*/