@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    height: 75px;
    
}
header img{
    height: 20px;
    margin: 25px 0px 0px 50px;
}
div#boxmain{
    width: 375px;
    margin: auto;
}
div#imagemtop{
    width: 100vw;
    margin: auto;
}
img#picturewoman{
    width: 100vw;
}
div#boxmain h1{
    width: 250px;
    text-align: center;
    font-size: 3em;
    margin: auto;
}
div#boxmain span{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 157, 173);
}
div#boxmain p{
    text-align: center;
    font-size: 17.5px;
    color: rgb(255, 157, 173);
}

input#txtemail{
    background-color: aqua;
    border: none;
}
input#button{
    background-color: blue;
    border: none;
    color: white;
}