@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
input#txtemail{
    background-color: aqua;
    border: none;
}
input#button{
    background-color: blue;
    border: none;
    color: white;
}
div#boxmain{
    width: 375px;
    margin: auto;
    background-color: aquamarine;
}
div#imagemtop{
    width: 410px;
    margin: auto;
}
img#picturewoman{
    width: 410px;
}
