@charset "UTF-8";
/*.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }*/
*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: ;
}
p{
    display: none;
}
section#boxmain{
    height: 550px;
    width: 300px;
    margin: auto;
}
footer{
    text-align: center;
}