@charset "UTF-8";
/*.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }*/
*{
    margin: 0px;
    padding: 0px;
}
h2{
    font-size: 1em;
}
p{
    display: none;
}
body{
    background: rgb(233, 233, 233) url(../images/background-pattern-mobile.svg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;

}
section#boxmain{
    height: 400px;
    width: 400px;
    background-color: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
div#box1{
    display: flex;
}
div#box1 > h2{
    width: 200px;
    margin-right: 60px;
    background-color: aqua;
}
footer{
    text-align: center;
    display: none;
}