@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: blue;
}
section#codewell{
    background-color: lightblue;
}
section#cursoemvideo{
    background-color: aquamarine;
}