@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 992px){
    h1{
        font-family: var(--font01);
        font-size: 2em;
        padding-bottom: 10px;
    }
    h2{
        font-family: var(--font01);
        font-size: 2em;
        padding-bottom: 10px;
        text-align: center;
    }
    span#burguer{
        width: 50px;
        background-color: black;
        display: block;
        color: white;
        text-align: center;
        padding: 2.5px;
        position: absolute;
        left: 90%;
        top: 7%;
    }
    main{
        background-color: blue;
        max-width: 992px;
        padding: 10px;
        padding-bottom: 60px;
    }
    section#logos{
        max-width: 450px;
        margin: auto;
        text-align: center;
    }
    section#logos img{
        padding: 10px;
    }
    section#img1 img{
        width: 70vw;
        display: block;
        margin: auto;
    }
    section#img2 img{
        width: 70vw;
        display: block;
        margin: auto;
    }
    section#footer{
        background-color: black;
        height: 40px;
        max-width: 96vw;
        position: relative;
        left: 46%;
        transform: translate(-50%, 150%);
    }
    section#footer > section#img3{
        width: 60px;
        position: relative;
        left: 56%;
        transform: translate(0%, -150%);
    }
}
@media screen and (min-width: 992px){
    menu{
        display: block;
    }
}